body {
  background-color: black;
  width: 100%;
  height: 100vh;
}
img {
  width: 100%;
  max-width: 500px;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 20px;
}

#front, #front:visited {
  transition: opacity 0.3s linear;
}
#front:hover, #front:active {
  opacity: 0;
}